@import "tailwindcss";

* {
  box-sizing: border-box !important;
  max-width: 100% !important;
}

body, html, #root {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
  background-color: #0f0f11 !important;
}
